PyMuPDF==1.26.3
python_dotenv==1.1.1
pillow==9.3.0
sentence-tranformers
sqlalchemy
pgvcector
groq==0.30.0
langchain==0.3.26
langchain_community==0.3.27
numpy==2.3.1
langchain_postgres
langchain-huggingface==0.3.1
langchain_groq==0.3.6
langchain-community>=0.0.36
langchain-openai>=0.1.6
datasets
unstructured
pdf2image
pybind11>=2.12